footer {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 147px;
    padding-top: 128px;
    border-top: 1px solid #EEEEEE;

    div {
        width: 220px;

        &:not(:last-child) {
            margin-right: 64px;
        }
    }

    .footer__content {
        display: flex;
        justify-content: space-between;
        width: 1136px;
        margin: 0 auto;

        address {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: #555555;
            margin-bottom: 24px;
        }

        ul {
            li {
                list-style: none;
                margin-bottom: 24px;


                a {
                    text-decoration: none;
                    list-style: none;
                    font-weight: 400;
                    font-size: 16px;
                    color: #767676;




                }
            }
        }

        .col__title {
            font-weight: 500;
            font-size: 18px;
            color: #555555;
            margin-bottom: 40px;
        }

        .tel,
        .email {
            font-weight: 400;
            font-size: 16px;
            color: #767676;
        }

        .tel {
            margin-bottom: 10px;
        }

        .col-1 {
            width: 220px;

            img {
                margin-bottom: 32px;
            }

            .social__media {
                display: flex;

                img {
                    margin-bottom: 72px;

                    &:not(:first-child) {
                        margin-left: 24px;
                    }
                }
            }

            p {
                font-weight: 400;
                font-size: 14px;
                line-height: 160%;
                color: #767676;
            }
        }

    }
}

@media only screen and (max-width: 600px) {
    footer {
        width: 100%;
        padding-top: 0;
        margin-top: 256px;

        div {
            &:not(:last-child) {
                margin-right: 0;
            }
        }

        .footer__content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            padding: 50px;

            address {
                font-size: 18px;
                margin-bottom: 24px;
            }

            ul {
                li {
                    margin-bottom: 24px;

                    a {
                        font-size: 18px;

                    }
                }
            }

            .col__title {
                font-size: 20px;
                margin-bottom: 30px;
            }

        }
    }
}